[Unit]
Description=portfolio MCP server - Crypto MCP Server (Corax CoLAB)
After=network.target

[Service]
Type=simple
# User=pelle (Run as current user or specific user)
WorkingDirectory=%h/cryptomcpserver
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=%h/cryptomcpserver/.env
ExecStart=.env/bin/python %h/cryptomcpserver/portfolio_mcp.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
